*.lo
*.o
*.la
*.0
*.1

.deps
.libs/
libmrf.*

Makefile
Makefile.in
config.h.in
aclocals
autom4te.*
*.m4
libtool
configure
config.h
config.log
config.status

mrf.pc
.dirstamp
stamp-h1

include/
build-aux/

.fuse*
.nfs*

#### find src -perm /111 -type f  : this commands selects the executable files
src/psl2mrf
src/bowtie2mrf
src/singleExport2mrf
src/mrfSubsetByTargetName
src/mrfQuantifier
src/mrfAnnotationCoverage
src/mrf2wig
src/mrf2gff
src/mrfSampler
src/mrf2bgr
src/wigSegmenter
src/mrfMappingBias
src/mrfSelectRegion
src/mrfSelectSpliced
src/mrfSelectAnnotated
src/createSpliceJunctionLibrary
src/gff2interval
src/export2fastq
src/mergeTranscripts
src/interval2gff
src/interval2sequences
src/intervalSize
src/bed2interval
src/interval2bed
src/mrf2sam
